[2016-01-21 06:58] nhanth87 opened #5 "Slee create multiple transaction in the same thread"
Slee create multiple transaction in the same thread and caught error exception:

20:35:44,230 ERROR [AFPSbbImpl] (pool-28-thread-2) Exception
javax.transaction.NotSupportedException: BaseTransaction.checkTransactionState - [com.arjuna.ats.internal.jta.transaction.arjunacore.alreadyassociated] [com.arjuna.ats.internal.jta.transaction.arjunacore.alreadyassociated] thread is already associated with a

[2016-01-21 07:13] nhanth87 commented on #5
Jainslee should check is there transaction assoc with this thread but difference status before create new one.
If already have transaction then change status to active

[2016-01-21 08:06] deruelle commented on #5
Can you attach logs (if no confidential inform$ation in them) and investigate this issue to propose a fix ?

[2016-02-05 16:06] slhayden opened #6 "Size limit? when firing SLEE events"
public void fireEvent(Object event, EventTypeID eventType, ExternalActivityHandle handle, Address address)

**When invoking this method with an Object event with a serialized size > 1k, the receiving end throws an exception**:

java.lang.reflect.InvocationTargetException
        at sun.reflect.GeneratedMethodAccessor290.invoke(Unknown Source)
        at sun.reflect.DelegatingMethodAccessorImpl.inv

[2016-02-11 11:37] SergeyLee opened #8 "Create Restcomm SLEE Parent POM for all Restcomm SLEE RAs and tools"
I want to fix many places with hard-coded versions in all Restcomm SLEE RAs and tools.

[2016-02-11 16:02] slhayden commented on #6
Confirmed bug on JainSlee 2.8.

In class RemoteEventWrapper (jain-slee/container/remote/src/main/java/org/mobicents/slee/connector/remote/RemoteEventWrapper.java), the readExternal() method calls in.read().  This method does not guarantee to fill the byte buffer:

from java docs:  read() This method will block until **some** input is available.  If the byte buffer is too long to be transmitted in

[2016-02-11 16:12] nhanth87 commented on #6
It's great contribution, slhayden.
Please fork restcomm jainslee to your repo, make fix and create pull request.
That make easy for review and named your contribution

[2016-02-11 16:26] deruelle commented on #6
@slhayden Thanks. @nhanth87 is right, can you do a pull request instead ?

You can read more about how to contribute in reading the Section [Development Process of our Open Source Playbook](https://docs.google.com/document/d/1RZz2nd2ivCK_rg1vKX9ansgNF6NpK_PZl81GxZ2MSnM/edit#heading=h.mcjitemt6ng1)

[2016-02-11 16:26] slhayden commented on #6
No problem, I’ll get that submitted really soon.

On Feb 11, 2016, at 10:26 AM, Jean Deruelle <notifications@github.com<mailto:notifications@github.com>> wrote:

@slhayden<https://github.com/slhayden> Thanks. @nhanth87<https://github.com/nhanth87> is right, can you do a pull request instead ?

You can read more about how to contribute in reading the Section Development Process of our Open Source P

[2016-02-11 16:28] deruelle commented on #6
Great. Can you also sign the Contributor License Agreement at http://www.telestax.com/open-source/#Contribute ?

[2016-02-11 17:03] nhanth87 opened #9 "jainslee tool twiddle.sh can't create profile"
Confirm twiddle can't create profile.

Reproduce:
./twiddle.sh -slocalhost:1099 profile -c  --table-name=tele-table --profile-spec=ProfileSpecificationID[name=AddressProfileSpec,vendor=javax.slee,version=1.1]

./twiddle.sh -slocalhost:1099 profile -c  --table-name=tele-table --profile-name=profile_demo

./twiddle.sh -slocalhost:1099 profile.edit tele-table demo10 -d

and get table or profile not e

[2016-02-12 16:21] SergeyLee commented on #8
I finished with this issue.
I created JAIN SLEE Parent: https://github.com/RestComm/jain-slee.parent.
I rebuilded all projects (repos, CI jobs) related to JAIN SLEE Release.
1. Maven-DU-Plugin
2. Restcomm Parent
3. Restcomm Cluster
4. SNMP Adaptor
5. JAIN SLEE Core
6. JSLEE JDBC
7. JAIN SIP.Ext, JAIN SIP.HA, JSLEE SIP
8. JAIN SLEE Parent (with JAIN SLEE Core and JSLEE SIP versions)
9. Other RAs an

[2016-02-12 16:21] #8 closed

[2016-02-13 09:18] nhanth87 opened #11 "Jain Slee context string constant have issue"
From ticket 32845:
Jain Slee has issue with lookup into string constant

This code won't work:
` AlarmFacility alarmFacility = (AlarmFacility) ctx.lookup(AlarmFacility.JNDI_NAME);`

This code work:
`        javax.slee.facilities.AlarmFacility alarmfacility = (javax.slee.facilities.AlarmFacility)ctx.lookup("slee/facilities/alarm");`

[2016-02-15 17:09] nhanth87 commented on #9
When profile create, a temp profile created at javax.slee.profile

The profile.edit commit try to invoke javax.slee.management.ProfileProvisioningMBean so it can't find entry for temp profile. Also in the code of twiddle, there's no invoke of javax.slee.profile.

[2016-02-22 12:13] SergeyLee commented on #9
I fixed ProfileEditCommand with checking if main operation is commitProfile and execute after createProfile.
Bug reason: ProfileProvisioning MBean can not execute getProfile for new profile after createProfile execution.

[2016-02-22 12:13] #9 closed

[2016-02-22 14:56] #6 closed

[2016-02-23 15:08] SergeyLee opened #15 "Resource adaptors configuration change exception"
From ticket 32923:

We are trying to change the RA entity configuration properties using GUI interface (this example is for HttpServletRA mobicents-slee-ra-http-servlet-DU-6.1.5.GA-TelScale, but the same problem we have also with other RAs - ex. SIP RA);

15:15:39:209 [INFO] Entity HttpServletRA activated
15:15:58:701 [INFO] Entity HttpServletRA deactivated
**15:16:40:709 [ERROR] the property HTTP

[2016-02-23 15:10] SergeyLee commented on #15
Logs on this case:

and:

[2016-02-23 15:24] SergeyLee commented on #15
bug is here
https://github.com/RestComm/jain-slee/blob/2.x/tools/slee-management-console/server/src/main/java/org/mobicents/slee/container/management/console/server/PropertiesInfoUtils.java#L56

I fix it with
String value = propertiesInfo.getProperty(key);

but for HTTP Servlet... update configuration is not available:
https://github.com/RestComm/jain-slee.http/blob/master/resources/http-servlet/r

[2016-02-23 16:00] #15 closed

[2016-02-24 11:28] SergeyLee commented on #11
Is it actual issue? (Ticket: https://telestax.zendesk.com/agent/tickets/32845)

[2016-02-24 11:33] SergeyLee commented on #5
I need origin of this issue: tickets or google-groups topic.

[2016-02-25 14:36] SergeyLee commented on #11
[code]

[2016-02-25 14:36] #11 closed

[2016-02-25 16:10] SergeyLee commented on #5
I found this JBoss bug:
[Dirty transaction remains if rollback failed](https://issues.jboss.org/browse/JBTM-751)

and here: https://github.com/RestComm/jain-slee.jdbc/blob/master/resources/jdbc/ra/src/main/java/org/mobicents/slee/resource/jdbc/JdbcResourceAdaptor.java#L412-L421

i added in this catch:
[code]

[2016-02-26 03:34] nhanth87 commented on #5
It's hard to reproduce, and it good if you add some debug info.
Next time when it happen again, you will know the root cause

[2016-02-26 10:13] SergeyLee commented on #5
I added Pull Request in jain-slee.jdbc repo:
https://github.com/RestComm/jain-slee.jdbc/pull/2

[2016-02-26 12:44] SergeyLee opened #17 "SLEE Console should configure RA Entity properties with Integer type"
If you try configure RA Entity property with Integer type you get this exception:

[2016-02-26 12:56] #17 closed

[2016-03-07 12:04] nhanth87 opened #19 "Support separator ";" in twiddle command to fill profile array type"
From ticket 33014:
At this time, an array type is only filled by manual set from JMX.
We need to add this feature in twiddle because some customers use twiddle to automate the create profile process.
Example:
`profile.edit CallControl mobile.user -s --name=userPhone separator=; --value=”something;other stuff;something else”`

[2016-03-07 12:10] nhanth87 opened #20 "We need some kind of automate create profile when jain-slee start"
From the ticket 33014:
We need some mechanism to create, store profile at starting time of jain-slee (load it from xml file)

[2016-03-10 13:22] tzieleniewski opened #21 "[Twiddle] Command failure - "--nsrc" argument not detected"
Hi,

When invoking the following twiddle command I get the following error.
The --nsrc argument is provided but Twiddle compains.

[code]

Regards
Tomasz Krzysztof Zieleniewski

[2016-03-11 16:05] SergeyLee opened #22 "[Twiddle] Profile: list all attributes and their values at one shot"

[2016-03-15 08:35] SergeyLee opened #23 "[Profiles] getting correct fieldName from method of ProfileCMP interface"
The problem caused when method is like getXYabc, where first and second character of fieldName is upper case.

ConcreteProfileEntityGenerator.java : generateClasses()
[code]

[2016-03-17 12:56] gfigiel opened #33 "SLEE Console should configure RA Entity properties with various type"
Same problem as for issue #17 but related to Long properties. More generic fix/enhancement to SMC tool is required in order to support other java Types as well.

Caused by: java.lang.IllegalArgumentException: Value is of type java.lang.String, required type is java.lang.Long
        at javax.slee.resource.ConfigProperties$Property.setValue(ConfigProperties.java:171)
        at javax.slee.resource.

[2016-03-17 13:01] gfigiel commented on #33
As to fix the issue reimplementation of this code fragment is needed.

https://github.com/RestComm/jain-slee/blob/2.x/tools/slee-management-console/server/src/main/java/org/mobicents/slee/container/management/console/server/PropertiesInfoUtils.java#L58-L68

I could do it, however I need clarification on repo organization as I cannot see tools folder in master branch hoever it is in 2.x branch...

[2016-03-17 15:53] gfigiel commented on #33
Fixed as per Pull Request #34:  Fixes #33 - Support for other Resource Adaptor config parameter types #34

[2016-03-18 08:20] SergeyLee commented on #33
Thank you Grzegorz! I merge it ASAP after local testing.

[2016-03-24 11:19] SergeyLee commented on #33
@gfigiel
Ok. I tested it and it works well to support other java Types.
Please remove  ```+ e.getMessage()```  because it always return ```null```. Exception has type **java.lang.reflect.InvocationTargetException**.
Then I will merge your PR.

[2016-03-24 12:33] SergeyLee commented on #33
Ok. I fix it self.

[2016-03-24 12:36] gfigiel commented on #33
Thanks. Just please add exception stack in order to have something in case of ClassNotFoundException that may occure in forName() call.

[2016-04-05 12:09] SergeyLee opened #35 "Deploying sbbs with more than one profile-spec-ref without profile-spec-alias (JSLEE 1.1 spec)"
When we try to deploy sbbs with more than one profile-spec-ref without profile-spec-alias we get this error:

[2016-04-26 14:32] SergeyLee opened #37 "SBB CMP field for Reference Data Types must be inited as null"

[2016-04-29 12:42] SergeyLee opened #40 "[Twiddle] Profile attribute setting problem."
This problem causes when attribute value has braces and is not quotation.

For example:
this command is setting wrong value

but this command works well

[2016-04-29 12:45] SergeyLee commented on #40
Notes:
Problem is here: https://github.com/RestComm/jain-slee/blob/2.x/tools/twiddle/cli/src/main/java/org/mobicents/tools/twiddle/jslee/ProfileEditCommand.java#L513-L533

[2016-05-06 15:11] #37 closed

[2016-05-06 15:11] #35 closed

[2016-05-06 15:11] #33 closed

[2016-05-06 15:11] #23 closed

[2016-05-06 15:11] #5 closed

[2016-05-06 15:28] SergeyLee opened #41 "[Passivate (and Store) SbbObject] The sbbStore life cycle method not called when root SBB has attachments"

[2016-05-13 13:21] SergeyLee opened #43 "[Profile Generator] Problems with arrays as parameters types and methods return types in generateManagementHandlerDelegationMethods method"

[2016-05-16 15:28] SergeyLee commented on #19
@nhanth87 Did you remember how you manual set array type from JMX?
For example, I try to set String[] type to "100;200;300" and it saves attribute only with one value String "100;200;300".

[2016-05-16 15:37] nhanth87 commented on #19
Hi,
The ticket is not about create an "array", it's all about ; character

Br,
TN

[2016-05-20 14:21] SergeyLee opened #47 "[Twiddle] Support primitive arrays in profile.edit command"

[2016-06-30 15:16] jaimecasero opened #49 "Allow services to override classes offered from server(JBoss)"
Current classloader structure doesnt allow services to override classes, even if they provide their own slee libs. For example a service may want to use a newer Hibernate version than the one provided by underlying server. Ideally, the service may define a list of packages detailing where the class loading order must be inverted, so classes provided from service are taken first...

[2016-06-30 15:47] jaimecasero commented on #49
Using env-entry in sbb-xml descriptor would be ideal

[2016-07-08 15:10] jaimecasero opened #51 "There is a potential infinite loop on classloading"
https://github.com/RestComm/jain-slee/blob/master/container/components/components/src/main/java/org/mobicents/slee/container/component/deployment/classloading/URLClassLoaderDomainImpl.java#L115

We may change that into...

`
private static final ReentrantLock GLOBAL_LOCK = new ReentrantLock();
        private static final long WAIT_FOR_LOCK = 10;
        private static final long MAX_WAIT_FOR_LOCK

[2016-07-15 09:54] SergeyLee opened #52 "[Twiddle] Add classes for getAttribute, setAttribute and invoke methods"
Main problem appeared with usage.service command and after my changes in AbstractOperation:

https://github.com/RestComm/jain-slee/blob/2.x/tools/twiddle/cli/src/main/java/org/mobicents/tools/twiddle/op/AbstractOperation.java#L245-L252

[code]

[2016-07-15 10:13] jaimecasero commented on #52
A per Spec UsageMBean create an MBean operation called
public SampleStatistics get<usage-parameter-name>(boolean reset) throws ManagementException;

This goes agaisnt general JMX Mbean convention, where get/set method names are reserved for attributes, rather than operations.

https://repository.jboss.org/nexus/content/unzip/unzip/javax/slee/jain-slee/1.1/jain-slee-1.1-javadoc.jar-unzip/index.html

[2016-07-18 11:21] SergeyLee opened #53 "[SBB Life cycle] Store and passivate SBB Entities"
This issue is a new feature for SBB passivation in some use cases.

Now SBB passivation works only for sbbEntity when it is not null and its sbbObject is not null:

[https://github.com/RestComm/jain-slee/blob/2.x/container/router/src/main/java/org/mobicents/slee/runtime/eventrouter/routingtask/EventRoutingTaskImpl.java#L540-L543](url)

The solution is passivation of all SBB Entities in the transac

[2016-07-18 12:40] SergeyLee commented on #53
This issue is related to issue #41.

[2016-07-18 12:42] SergeyLee commented on #41
All changes for this issue was reverted: https://github.com/RestComm/jain-slee/commit/4cb7733a248c436a5b38f5e4f1b055b4f38d1e1b

[2016-07-18 14:22] baranowb commented on #53
Why: "if (!obj.equals(ongoingEntID)) {" ?

[2016-07-18 14:55] baranowb opened #55 "[Usage] Display proper value of sample attribute, rather than MIN/MAX"
diff --git a/container/usage/src/main/java/org/mobicents/slee/runtime/usage/UsageParameter.java b/container/usage/src/main/java/org/mobicents/slee/runtime/usage/UsageParameter.java
index a5c2d99..ce946d0 100644
--- a/container/usage/src/main/java/org/mobicents/slee/runtime/usage/UsageParameter.java
+++ b/container/usage/src/main/java/org/mobicents/slee/runtime/usage/UsageParameter.java
@@ -47,6 +4

[2016-07-19 14:58] SergeyLee commented on #55
This fix cause TCK assertion:

[2016-07-19 15:00] SergeyLee commented on #53
Because ongoingEntID is

[code]

and we already passivate sbbEntity.

[2016-07-26 15:59] SergeyLee opened #57 "[build] Finish the building of SLEE Container Extension and Modules for JBoss 7"
We have several TODO and FIXME comments in build module.
So we should try to finish (or investigate) all this stuff.

Also I want to test current solution with simple JSLEE examples (test applications). Then I will create issues for test applications.
Also I want to migrate old SLEE Console. Then I will create issues for all tools.

[2016-07-27 10:03] SergeyLee opened #58 "[rebranding] Clearing and rebranding all JSLEE modules"
Also we should decide issues with base dependencies: parent, cluster, etc.
Also we should decide with versioning and Maven Versioning Strategy.

[2016-07-27 10:06] SergeyLee opened #59 "[profiles] Add Profiles module"

[2016-07-27 10:06] SergeyLee opened #60 "[remote] Add Remote module"

[2016-07-27 10:12] SergeyLee opened #61 "[2.x diff] Check differences and last changes from 2.x branch for all JSLEE modules"

[2016-07-27 10:23] SergeyLee opened #62 "[release] Add Ant Buildfile (or other solution) for Release"
First Release will be only with JBoss release distribution, JSLEE extension and modules, and JSLEE container documentation.

[2016-07-28 11:47] SergeyLee opened #64 "[CI] Add CI job for building JSLEE Core 3.0.0"

[2016-07-28 11:53] SergeyLee opened #65 "[CI] Add CI job for building JSLEE Release 3.0.0"

[2016-07-28 11:56] SergeyLee opened #66 "[tools] Add old SLEE Consoles"
While we will discuss about SLEE Console topic we should use these tools.

[2016-07-28 12:02] SergeyLee opened #67 "[tools] Add EclipSLEE plugin"
EclipSLEE plugin requires more testing and bug fixing, but first issue is adding it to Release with support for JBoss 7.x/JSLEE 3.x.

[2016-07-28 12:03] SergeyLee opened #68 "[tools] Add JSLEE Twiddle tool"

[2016-07-28 12:05] SergeyLee opened #69 "[tools] Add SNMP Adaptor"

[2016-07-28 12:07] SergeyLee opened #70 "[tools] Add Jopr (RHQ) plugin"
Perhaps we need some investigation on RHQ documentation for using last version.

[2016-07-28 12:08] SergeyLee opened #71 "[tools] Add Remote SLEE connection tool"
This issue is related with issue #60 (Remote module).

[2016-07-28 13:02] SergeyLee commented on #57
First step is read [Extending JBoss AS 7](https://docs.jboss.org/author/display/AS71/Extending+JBoss+AS+7) for understanding slee-container-build project (/container/build/as7).
Second step is create simpe JSLEE example and deploy it in JBoss AS 7/JSLEE 3.x.
Third step is migrate old SLEE Console and test it.

[2016-07-28 15:30] SergeyLee commented on #57
Sub-issue:
DeploymentMBeanImpl. How JSLEE deploys their apps?
2.x diffs
DeploymentMBeanImpl TODO: rework all the deployment mess, there should be a single internal deployer and this mbean should just delegate operations to it.
https://github.com/RestComm/jain-slee/blob/master/container/common/src/main/java/org/mobicents/slee/container/management/jmx/DeploymentMBeanImpl.java#L76

[2016-08-01 11:53] SergeyLee opened #72 "[deployer] Migrate Deployer module into SLEE Container Extension"
For JSLEE 2.x (based on JBoss 5.1.0.GA) we have Deployer module for deploying SLEE applications.
For JSLEE 3.0 (based on JBoss 7.x) we have Deployment Processors in SLEE extension.
So we need to implement Deployer module code into Deployment Processors.

[2016-08-01 11:54] SergeyLee commented on #57
Task list for this issue:

- [ ] migrate the deployer: #72

[2016-08-01 15:06] SergeyLee commented on #72
August 1 tasks:
- [ ] Investigate Deployer module (JSLEE 2.x) with more details and deploying tests
- [ ] Investigate acme-subsystem code as JBoss 7 Extension example
- [ ] Investigate JBoss 7 Admin Guide for working with Extensions, Profiles and Subsystems, etc
- [ ] Investigate using SLEEDeploymentMetaData and SLEEDeployerEntityResolver
- [ ] Migrate SLEEParserDeployer to JSLEE 3.x as part of Sl

[2016-08-03 10:14] SergeyLee commented on #72
Now we have some problems (deadlocks) with parsing DeploymentUnit.

In the JBoss 5 we have [org.jboss.deployers.structure.spi.DeploymentUnit](http://grepcode.com/file/repository.jboss.org/nexus/content/repositories/releases/org.jboss.deployers/jboss-deployers-structure-spi/2.0.7.GA/org/jboss/deployers/structure/spi/DeploymentUnit.java/) interface and in the JBoss 7 we have [org.jboss.as.server.dep

[2016-08-04 09:38] SergeyLee commented on #57
Some links on JBoss 7 Extensions and migration from JBoss 5 to JBoss 7:
https://developer.jboss.org/wiki/ExtendingAS7
https://www.smartics.eu/confluence/display/BLOG/2013/12/19/Get+into+JBoss+Extensions
https://dzone.com/articles/jboss-5-7-11-steps
http://blog.c2b2.co.uk/2013/03/the-differences-between-jboss-eap-5-and.html

[2016-08-09 14:49] SergeyLee commented on #72
August 5, 8 and 9 tasks:

- [ ] Migrate SLEEDeploymentMetaData/SLEEDeployerEntityResolver into JSLEE 3 as SleeDeploymentMetaData/SleeDeployerEntityResolver.
- [ ] Migrate SLEEParserDeployer to JSLEE 3.x as part of SleeDeploymentParseProcessor: getting SleeDeploymentMetaData from DeploymentUnit
- [ ] Migrate SLEEDeployer to JSLEE 3.x as part of SleeDeploymentInstallProcessor: sleeContainer & intern

[2016-08-11 12:35] SergeyLee commented on #72
I found solution for last problem (ClassNotFoundException: javax.slee.ActivityEndEvent).
I only add module "org.telestax.slee.container.lib" in dependencies for org.jboss.as.server in its module.xml.

[2016-08-15 11:25] SergeyLee opened #73 "[new console] Name Bindings value not properly HTML encoded"

[2016-08-18 08:09] SergeyLee commented on #72
Next tasks:
Finishing first step:
- [ ] Commenting all code related to AddressProfileSpec in parsing DU dependencies (or somewhere else)

Refactoring Tasks
- [ ] Parsing: What phase I should to use: STRUCTURE or PARSE (now)?
- [ ] Parsing: What is Marker? I should use Attachments of DeploymentUnit for communication between Deployment processors.
- [ ] Parsing: Should I review idea of SLEE Deployme

[2016-08-18 12:17] SergeyLee commented on #72
I commented code related to AddressProfileSpec in parsing DU dependencies:
https://github.com/RestComm/jain-slee/blob/master/container/components/components/src/main/java/org/mobicents/slee/container/component/deployment/jaxb/descriptors/SbbDescriptorImpl.java#L288
and code for creating AddressProfileSpec:
https://github.com/RestComm/jain-slee/blob/master/container/components/components/src/main/j

[2016-09-01 07:03] jeenareload opened #74 "How to install jain-slee with JBoss AS"
HI,
I have downloaded JBoss AS 5/7 from jboss website, Now i want install jain-slee into JBoss AS.

NEED HELP

[2016-09-02 14:52] gfigiel opened #75 "Graceful shutdown feature implementation"
Gracefull shutdown feature allows shutdown SLEE without forcefull activities ending for supporting RAs.

When slee goes into graceful stopping mode it notifies supporting RAs as not to create new activities but allows current activities to be processed until standard stop procedure is called (with activities ending schedule).

The feature is triggered using JMX call.

Detail feature requirements a

[2016-09-02 14:58] gfigiel commented on #75
Feature implementation added in commit: https://github.com/gfigiel/jain-slee/commit/0b89725f29a53d3ae315e2a97021bc24eba08d80 on 2.x based branch

[2016-09-02 15:03] gfigiel commented on #75
Pull request created: https://github.com/RestComm/jain-slee/pull/76

[2016-09-06 09:06] SergeyLee commented on #75
I don't see GracefullyStopableResourceAdaptor class in commit.
And please create pull request with last changes.

[2016-09-07 09:13] SergeyLee commented on #74
Hi!
You can download [RestComm JSLEE 2.8.0.FINAL](https://github.com/RestComm/jain-slee/releases/tag/2.8.0.FINAL).
Also you can download the Binary zip files from https://mobicents.ci.cloudbees.com/job/Restcomm-JAIN-SLEE-Release/lastSuccessfulBuild/artifact/release/.
Read more here: [RestComm JSLEE documentation](http://documentation.telestax.com/core/jain_slee/JAIN_SLEE_User_Guide.html#_install)

[2016-09-08 19:54] gfigiel opened #77 "Obsolete branch"
I accidentially pushed gfigiel-2.x-gracefulshutdown branch to the main restcomm repo instead of private fork. Please remove this branch as I do not have permission as it contains untested feature and can cause a mess.

Sorry for my mistake.

[2016-09-09 08:48] SergeyLee commented on #77
No problem, Greg!
I removed gfigiel-2.x-gracefulshutdown branch.

[2016-09-09 08:48] #77 closed

[2016-09-09 10:38] jaimecasero opened #78 "Create file naming convention to ensure proper DU deployment order"
Sometimes a solutino is based on multiple DUs which complex dependency network. There is a natural ordering  in SLEE being baseLibs->RAs->libs->sbb . Although integrator have the pssibility to influence the deployment order using JBoss features (deplay.last alphabeticalOrder), it would be great to enforce a certain order by suggesting a file name convention. This would require to configure the Jbo

[2016-09-09 11:05] SergeyLee opened #79 "Create guideline for developers on how to accomplish proper deployment in a new Best practice section"

[2016-09-12 07:27] #41 closed

[2016-09-12 07:29] #43 closed

[2016-09-13 13:11] SergeyLee commented on #78
My idea is adding priority to DUs. For all DUs we have default priority (eg. 10). We can set low or high priority in deploy-config for DUs which we want load early or later.

[2016-09-13 13:13] jaimecasero commented on #78
can you be more specific on how a DU would populate that descriptor?

[2016-09-13 14:51] SergeyLee commented on #78
BTW we had problem with customer's service deployment order because our jSS7 stack is initialized from SS7 RAs. If we can initialize jSS7 stack as we initialize jDiameter Mux then perhaps SS7 RAs will deploy more quicky.

[2016-09-14 12:25] SergeyLee commented on #57
Task list for first 2.x diff:
- [ ] (5391b03465d8a9f195a4a4055876b14214764abd) Fixes issue 74 (25 June 2014). Issue 74 in jain-slee: Meaningful SLEE thread names.
- [ ] (f96fe60690807abb53f51926d61942c033ea48ac) Update Copyright (26 June 2014).

[2016-09-19 13:54] SergeyLee commented on #72
Now I finished with last task on this issue: Uninstalling.
But I have a two questions:
1. ClassNotFoundException: javax.slee.ActivityEndEvent
I found simple solution:  I only add module "org.telestax.slee.container.lib" in dependencies for org.jboss.as.server in its module.xml.
We must find another solution.

2. 'null' metaData for DUs

After some JBoss (7.2.0.Final) debugging I found that this me

[2016-09-20 14:51] SergeyLee commented on #72
Some comments on 'null' metaData for DUs problem.
We can exclude EJB3 Subsystem from deploying for a single deployment:
[Exclude a Subsystem from a Deployment](https://access.redhat.com/documentation/en-US/JBoss_Enterprise_Application_Platform/6/html/Development_Guide/Exclude_a_Subsystem_from_a_Deployment.html)

[code]

[2016-09-20 14:59] SergeyLee commented on #72
I found new big task for Deployer:
- [ ] investigate Maven-DU-Plugin for migrating.

[2016-09-21 15:15] deruelle commented on #70
this one will not be migrated. let's remove it completely from the new release

[2016-09-21 15:15] #70 closed

[2016-09-21 15:16] deruelle commented on #69
Let's plan this one for a 3.1 or 3.2 release

[2016-09-28 08:55] SergeyLee commented on #73
I added function:

[code]

and fixed here

Name Bindings value as

[code]

[2016-09-28 09:04] #73 closed

[2016-10-04 15:52] SergeyLee commented on #72
Today I finally found solution for installing default deployments (located in extension's resource folder "deployments" by default) from SleeContainerService.

Commit 28c62407f68ccdf01d87437d08997cbc909193c7.

[2016-10-04 15:53] #64 closed

[2016-10-05 10:48] SergeyLee opened #81 "[tools] Add new SLEE Consoles"

[2016-10-05 10:51] SergeyLee opened #82 "[cluster] Update (or migrate) to last cluster implementation (Infinispan)"

[2016-10-05 10:52] SergeyLee opened #83 "[build] Create extension for WildFly 10"

[2016-10-06 08:09] SergeyLee commented on #68
Comment from Stackoverflow:

Twiddle was a tool/script included in previous versions of JBoss, up to community version 6, to access to the JMX Services of JBoss (MBeans) through command line. [Since JBoss 7 is not based any more on Managed Beans](https://developer.jboss.org/thread/169408), it doesn't include this tool nor the JMX Console. That said, the management operations exposed through Manage

[2016-10-06 08:24] SergeyLee commented on #68
Also JBoss AS 7 has CLI and JMX subsystem:
https://docs.jboss.org/author/display/AS72/Admin+Guide#AdminGuide-CommandLineInterface
https://docs.jboss.org/author/display/AS72/JMX+subsystem+configuration

Also there are many JMX utilities (command-line tool):
http://stackoverflow.com/questions/1751130/calling-jmx-mbean-method-from-a-shell-script

[2016-10-06 12:45] SergeyLee commented on #83
What I have done:

- copied /build/as7 folder into /build/as10 and fixed strings and folders from as7 to as10
- fixed dependencies: org.wildfly (10.0.0.Final) and org.wildfly.core (2.0.10.Final)
- fixed dependency: org.jboss.jboss-vfs (3.2.11.Final)
- temporary commented dependency: org.wildfly.core.wildfly-subsystem-test (2.0.10.Final is absent in repo) and removed SleeSubsystemTestCase from ../a

[2016-10-12 07:18] deruelle opened #84 "Integrate the Restcomm Statistics"
For every SMS or Calls (and related # of minutes for the call) sent or received either through SMPP,  SS7, SIP we should ping the Restcomm statistics server at the end of the day. The integration on the JAIN SLEE side happens through this project https://github.com/RestComm/commons/tree/master/statistics.

Ping me for more guidance

[2016-10-19 08:26] SergeyLee commented on #59
Some comments on what I did last days.

- copied profiles folder and fixed all dependencies for JBoss 7.2.0.Final: JPA and Hibernate
- added Profiles management and provisioning MBean into SleeContainerService
- changed createPersistenceUnit() methods in JPAProfile frameworks (org.jboss.metadata.jpa.spec.PersistenceUnitMetaData to org.jboss.as.jpa.spi.PersistenceUnitMetadata, org.jboss.jpa.deploym

[2016-10-20 14:16] SergeyLee commented on #82
Some comments on what I did last days.

- Updated (migrated) from Mobicents Cluster 1.x to RestComm Cluster 3.x (Infinispan based)
- Created new branch "infinispan-tree" in RestComm Cluster (based on branch "infinispan", but without removing Tree API support)
- For JSLEE I returned Infinispan Tree API, but it should be tested, especially Listener in SbbEntityLockFacility (I will add issue on this)

[2016-11-07 09:33] SergeyLee opened #85 "Fix typo in SbbEntityFactoryImpl for removeSbbEntityWithCurrentClassLoader method"
Here: https://github.com/RestComm/jain-slee/blob/2.x/container/services/src/main/java/org/mobicents/slee/runtime/sbbentity/SbbEntityFactoryImpl.java#L273-L274
I guess comment and code are inconsistent

[code]

So here I want to understand what is right: comment or code?

[2016-11-07 11:14] jaimecasero commented on #85
it seems lock is created when "createRootSBB" is called, so that suggets there is a lock per SBB-tree, being the root SBB the owner of the lock representing the whole tree.

Under that assumption, it only makes sense to remove the lock, when the root SBB is removed. In that case, the code is right, and the comment is wrong.

wdyt?

[2016-12-14 08:54] SergeyLee commented on #85
@jaimecasero so my conclusion: comment is wrong and you were right the root SBB the owner of the lock representing the whole tree. I fixed this comment.
Thanks for help.

[2016-12-14 08:54] #85 closed

[2016-12-14 09:06] SergeyLee commented on #84
@deruelle Should 3.0.0 Release include this feature?

[2016-12-14 09:14] deruelle commented on #84
@SergeyLee Yes. You can sync up with @vetss on how to enable it, he went through the exercise a couple of times for SMSC and USSD GW.

[2016-12-14 09:59] SergeyLee opened #86 "[tck] TCK Testing"

[2016-12-21 13:18] SergeyLee opened #87 "NPE when accessing not initialized CMP"
An error appeared because the tracer method was added in the initial event selector method. When tracer method is executed the message prefix is constructed based on the CMP value. When CMP field is accessed there is the NPE thrown.

[2016-12-21 13:29] SergeyLee commented on #87
Added checking on SBB entity existing for getter/setter CMP fields.
See commit: e5ca6902a92d8fbdbfc94446a1b50687fd297ffa.

[2016-12-22 10:46] SergeyLee opened #88 "[tck] H2: Unique index or primary key violation"
I have error with test: tests/profiles/profileverification/ProfileVerificationTest.xml.

It contains three tests at the end:

[code]

In the last test when it commits Profile I have error:

12:09:18,295 WARN  [org.hibernate.engine.jdbc.spi.SqlExceptionHelper] (RMI TCP Connection(7)-127.0.0.1) SQL Error: 23505, SQLState: 23505
12:09:18,295 ERROR [org.hibernate.engine.jdbc.spi.SqlExceptionHelper] (R

[2016-12-22 11:00] SergeyLee opened #89 "[tck] makeDeepCopy replacement"
When I was finishing migrating to WildFly I decided to replace JBoss Serialization library with using org.apache.commons.lang.SerializationUtils.clone() in ObjectCloner._makeDeepCopy():
https://github.com/RestComm/jain-slee/blob/master/container/spi/src/main/java/org/mobicents/slee/container/util/ObjectCloner.java#L73-L116

You can see there are commented old code with JBossObjectInputStream/JBoss

[2016-12-29 00:25] brainslog commented on #88
@SergeyLee, isn't that the expected result for the test ? It expects it to fail due to unique constraint being violated. I think it's just missing being properly wrapped as a `javax.slee.ProfileVerificationException`.

[2016-12-30 08:34] SergeyLee commented on #88
Yes, I found solution 2 days ago. Problem was on TCK client side and I added some dependencies into ant build.xml.
So this issue is solved! :)

[2016-12-30 08:34] #88 closed

[2017-01-10 10:02] gfigiel commented on #75
Hello,
We are now ready to contribute this feature so please assign me to this case.

[2017-01-10 10:02] deruelle commented on #75
@gfigiel great ! done

[2017-01-10 13:31] gfigiel commented on #75
Pull request done. The provided changes enables any RA to be prepared for graceful shutdown.

[2017-01-30 09:28] SergeyLee opened #91 "[release] Prepare RAs for JSLEE 3.x"
- JDBC RA
- SIP RA
- HTTP RA
- SMPP RA
- XMPP RA
- TFTP RA
- XCAP RA
- Media RA
- JavaEE Tool (Remote Connectivity)

[2017-01-30 09:31] SergeyLee opened #92 "[release] Prepare Diameter Stack+Mux and RAs for JSLEE 3.x"

[2017-01-30 09:36] SergeyLee opened #93 "[release] Prepare SS7 Stack and RAs for JSLEE 3.x"

[2017-01-30 09:37] SergeyLee opened #94 "[testsuite] Perform SIP tests for JSLEE 3.x with SIP RA"

[2017-01-30 11:49] SergeyLee commented on #84
Hi @deruelle!
I investigated same issue for USSD: https://github.com/RestComm/ussdgateway/issues/39
I have a question: what metrics we should/can provided for JSLEE?
From JSLEE spec and modules: sbbs, events, transactions, facilities and active objects.

[2017-02-01 11:09] deruelle commented on #84
@SergeyLee we should provide that in the Resource Adaptors I think. We don't want to record all type of events. Only number of SMS, USSD Messages processed and sent and number of Voice Calls and number of minutes processed and sent in a day

[2017-02-10 11:14] SergeyLee opened #95 "[twiddle] Add AddressPropertyEditor to AbstractSleeCommand."

[2017-02-15 08:50] SergeyLee opened #96 "[tracer] Rework Tracer facility for comfortable logging for huge count of SBB."
Problem description:

Commonly the log4j category inheritance would allow for debug configuration for our entire package (eg. com.company.product) while this is impossible for our SLEE applications.
Do you have a better solution for us?

[2017-02-15 14:07] #49 closed

[2017-02-20 08:11] bkrok opened #97 "[Tools] Slee-management-console"
Hello, is it possible to present value of env-entry in gui slee-management-console Sbb specific information panel? Could you give some advices how to reach this feature?

[2017-02-24 17:32] #87 closed

[2017-02-24 17:46] #72 closed

[2017-02-27 11:16] #59 closed

[2017-02-27 11:16] #60 closed

[2017-02-27 11:16] #58 closed

[2017-02-27 11:17] #57 closed

[2017-02-27 11:18] #62 closed

[2017-02-27 11:18] #66 closed

[2017-02-27 11:19] #65 closed

[2017-02-27 11:19] #61 closed

[2017-02-27 11:20] #83 closed

[2017-02-27 11:20] #91 closed

[2017-02-27 11:20] #94 closed

[2017-02-27 11:21] #95 closed

[2017-02-27 11:21] #89 closed

[2017-02-27 11:22] #86 closed

[2017-02-27 11:36] #92 closed

[2017-02-27 11:36] #93 closed

[2017-02-27 11:37] #82 closed

[2017-02-27 11:39] #74 closed

[2017-02-27 12:04] #53 closed

[2017-02-28 11:22] SergeyLee commented on #20
Hi @nhanth87
Is this mechanism necessary now? If yes then I will investigate this issue for new JSLEE 7 (7.1.0 milestone).

[2017-02-28 16:22] SergeyLee opened #98 "[profiles] Add support for Postgres via MBean"

[2017-03-01 10:15] SergeyLee commented on #75
Hi @gfigiel
From yesterday I am working on this feature for JSLEE 7 branch **master** (milestone 7.1.0), but then we can fix it for branch 2.x and then for TelScale 6.1.x.
I will review your code today.

[2017-03-02 09:53] SergeyLee opened #99 "[configuration] Add security-domain (jmx-console) with properties."

[2017-03-02 10:01] vetss commented on #99
We have several GUI / CLI interfaces for JSS7, SMPP projects (and also for USSD, SMSC, CAMEL, GMLC GWs), we have slee-management-console, we have KMX access (that we make via "jconsole" tool).

May be we can create a SLEE-level security-domain(s) with initial preconfigured credentials to which our products will reuse.

[2017-03-02 15:03] #52 closed

[2017-03-03 09:30] SergeyLee commented on #19
Hi @nhanth87
I am working with this issue now and if you have any question or comment please write them.

[2017-03-03 09:34] SergeyLee commented on #19
So I developed logic for using separator (";" or another) and populate arrays: if we set "aa;b;ccc" then we get String array with "aa", "b" and "ccc" values. I should only fix this logic for primitive array (int, long, float, etc) see issue #47.
@nhanth87  So as I understand we don't need this parsing logic, am I right?

[2017-03-03 11:38] jaimecasero commented on #40
this is bash tweaking argument before passing into command
[root@restcomm ~]# echo 0{2}[1-9][0-9][0-9]{9,10}
0{2}[1-9][0-9][0-9]9 0{2}[1-9][0-9][0-9]10
[root@restcomm ~]#

[2017-03-03 11:43] SergeyLee commented on #40
Ok. With curly braces we have Bash Brace expansion. So we can only update twiddle doc for this case.

[2017-03-03 12:09] #40 closed

[2017-03-03 15:09] #47 closed

[2017-03-03 16:14] SergeyLee commented on #21
Hi @tzieleniewski
I have fixed this issue!
Take care!

[2017-03-03 16:14] #21 closed

[2017-03-06 09:59] SergeyLee commented on #22
This issue was created after ticket 33043.
So I will create new operation "extlist" for profile.edit command that will list all attributes and their values at one shot.

[2017-03-06 14:27] SergeyLee commented on #20
As I know JSLEE can store profile tables and profiles into database. If we set default database (HSQLDB for JBoss 5.1 and H2 for WildFly) as in-memory then JSLEE don't store any profile data and we need set this default database for write operations.
Also JSLEE has beans based on org.mobicents.slee.container.deployment.profile.jpa.Configuration and we can set persistProfiles property for store pro

[2017-03-06 15:58] SergeyLee commented on #78
Hi @jaimecasero
The question is: this issue is needed only for JSLEE 2.x/JBoss 5.1 or we may think about deployment order and DU priority also for new JSLEE 7.x/WildFly?
What do you think about this?
For WildFly we can read about this topic here (with links to documentation):
http://serverfault.com/questions/693161/what-is-the-order-of-deployment-in-wildfly

[2017-03-06 16:44] SergeyLee commented on #51
Hi @jaimecasero !
I will implement your solution for lock now. Code is looked well.

[2017-03-06 16:45] #22 closed

[2017-03-06 23:19] jaimecasero commented on #78
@SergeyLee I think deployment order still is applicable to any server, including new Wildfly10. Customers will have solutions based on many DUs, where sometimes lifecycle requires certain order to be honored during server startup. Although this behavior is not defined in Spec, we should try to provide a vendor extension to allow this. This is probably not the most urgent issue, but its an addition

[2017-03-06 23:22] jaimecasero commented on #51
@SergeyLee  this is a corner case, but is worth the effort to fix it. Just adding, some of these parameters  (specially MAX_WAIT_FOR_LOCK )should allow environmnet configuration (JMX, xml file...)

[2017-03-07 18:06] #98 closed

[2017-03-19 15:36] duyanh030 commented on #96
Hi Sergey

I did investigate about log4j, org.jboss.as.logging, wildfy logger . and have 1 question to ask you.
Do you mean SLEE will support customer on start up time (staring wildfy) or during runtime?

Case 1: Starting time support only:In this case we just support customer to configure it at starting time only.
	   +++  We could reuse " log4j category inheritance " as you mentioned it. At the

[2017-03-22 15:23] SergeyLee commented on #96
Hi @duyanh030
Sorry for my late answer. I will review you comments ASAP.

[2017-03-26 04:33] duyanh030 commented on #96
Hi @SergeyLee
Did you take a look on my proposal? Just remind in case you missed it. :)

[2017-03-28 11:00] SummaNetworks opened #100 "Allow RAs to override classes offered from server (JBoss)"
Same as for the services, it shall be possible to override the libraries used by the RAs so us to upgrade the existing from Jboss. A similar XML approach can be used to define the libraries that have precedence.

[2017-03-29 11:16] #55 closed

[2017-04-01 04:17] duyanh030 commented on #97
Hi @SergeyLee . I am working on this issue if it's ok to implement it.

[2017-04-03 07:33] schaumannj opened #101 "can not run jss7 (jss7-management-console) 7.2.0 missing dependency jboss.security.security-domain.jmx-console"
Hi RestComm team,
I went through the installation manual http://documentation.telestax.com/core/ss7/SS7_Stack_Installation_Guide.html#introduction but I was not able to runn jss7 gui on jboss(wildfly) server.
I did:
download binaries of jss7  from https://github.com/RestComm/jss7/releases/tag/7.2.1390 and unzip
download server from dhis project https://github.com/RestComm/jain-slee/releases and un

[2017-04-05 15:49] SergeyLee commented on #97
Hi @duyanh030 . Sure, you can investigate and fix it.

[2017-04-06 16:30] SergeyLee commented on #101
Hi Jan!
If you want to work with jSS7 on WildFly (10.1.0.Final), you should to use branch jain-slee-3.x-2 and version 8.0.
You can find jSS7 in the RestComm JSLEE 7.0.0 release in folder extra/restcomm-jss7, but there old version 8.0.77.
You can use last build for JSLEE 7.0.0: 8.0.84 - https://mobicents.ci.cloudbees.com/job/Restcomm-jSS7/84/
jSS7 7.2 works only with JBoss 5.

Best regards,
Sergey

[2017-04-07 15:08] #19 closed

[2017-04-07 15:18] #99 closed

[2017-04-07 15:21] #20 closed

[2017-04-07 15:22] #51 closed

[2017-04-07 15:23] #78 closed

[2017-04-07 15:23] #79 closed

[2017-04-08 18:19] duyanh030 commented on #96
I am thinking about we could support customer to configure loglevel for  through slee console.

[2017-04-09 06:04] duyanh030 commented on #81
could you explain more about this issues?

[2017-04-10 11:45] vetss opened #103 "NullPointerException when getActivityFlags()"
I faced with an Exception at SMSC GW:

2017-04-10 05:53:18,164 ERROR [org.mobicents.slee.runtime.activity.ActivityContextFactoryImpl] (pool-27-thread-1) Failed to load AC.
java.lang.NullPointerException
        at org.mobicents.slee.runtime.activity.ActivityContextImpl.getActivityFlags(ActivityContextImpl.java:166)
        at org.mobicents.slee.runtime.activity.ActivityContextImpl.<init>(ActivityC

[2017-04-11 16:58] duyanh030 opened #104 "Jain slee build always insert the standalone.xml configuration."
Whenever we do "ant build-core" in RestComm/jain-slee repository. It's **always** insert the jain-slee configuration in standalone.xml as below:
`<subsystem xmlns="urn:restcomm:slee-container:3.0">
.....
......
</subsystem>`

This is the reason that make standalone server start failed because duplicated configuration for jain-slee.
It's better to insert above lines if the jainslee configuration is

[2017-04-12 14:10] deruelle commented on #104
@duyanh030 wanna contribute a fix for that ?

[2017-04-13 03:24] duyanh030 commented on #104
@deruelle Ok. I will prepare a fix for it. :)

[2017-04-13 09:08] deruelle commented on #104
@duyanh030 awesome

[2017-04-16 10:43] duyanh030 commented on #103
Hi @vetss .
I think the Exception is generated at https://github.com/RestComm/jain-slee/blob/master/container/activities/src/main/java/org/mobicents/slee/runtime/activity/ActivityContextImpl.java#L163.

Currently I am don't know why cacheData gets null here.
It would be helpful if you could provide more log for further investigation.:)
if you agree with this, We could check "if cacheData is null t

[2017-04-17 14:33] jaimecasero opened #106 "Support Slee Mbean java standard interfaces/Openmbean"
Current slee mbean interfaces uses nonStandard JMX java type like EvenTypeID that makes the consumption of this monitroing interfaces hard (it requires to load slee classes on client tool). Standard tools like JConsole fail to consume those operations because of this reason

Particularly EventRoterStatistics MBean exposes operations like ...
![image](https://cloud.githubusercontent.com/assets/7847

[2017-04-17 17:36] duyanh030 commented on #106
Hi @jaimecasero

I agree all with your points.
@SergeyLee . What is your through on this?

Currently, We could do some changes as below:
1. Duplicate functions in EventRouterStatistics MBean. Change get/set to "retrieve/modify". Keep all "get" function in this class to make the old clients are not affected (all "get" function could be removed next major release)
2. Duplicate all functions having i

[2017-04-19 08:43] jaimecasero commented on #106
@duyanh030 if you have a clear understanding of the requirement, as it seems, please start right away.

Would be nice if you could start with EventRouterStatistics MBean first, and then we could cover the rest of SLEE core MBeans

[2017-04-19 11:12] duyanh030 commented on #106
@jaimecasero . OK I am starting to do it. :)

[2017-04-20 14:19] duyanh030 commented on #106
@jaimecasero . I pushed commit.

[2017-04-20 14:39] jaimecasero commented on #106
@duyanh030  find my comments in the commit.

@duyanh030 are you testing all these methods using jconsole or other jmc client?

[2017-04-20 17:07] duyanh030 commented on #106
@jaimecasero yes. I did manual test jconsole with all new methods. It works fine:)
I also tested with twiddle tools. But I see a lot exception there. Not sure I did the right thing because new changes work fine with jconsole. I will try to test with twiddle later.

[2017-04-21 08:04] bkrok opened #108 "Snapshot dependency in pom"
Hello,

you have SNAPSHOT dependency in container module pom:
<restcomm.cluster.version>3.0.0-SNAPSHOT</restcomm.cluster.version>
I assume that is not intended.

BR,
bkrok

[2017-04-21 10:49] duyanh030 commented on #106
Hi @jaimecasero  and @SergeyLee . I just pushed new commit and adapt with your comments. Please help me to review it :)

[2017-04-21 12:53] jaimecasero commented on #106
@duyanh030 good on new event condition, but i think we could reduce number of changes by introducing the commented "findEvent" helper method, and then just call the regular methods... please check my comment in commit...

[2017-04-21 14:28] duyanh030 commented on #106
Hi @jaimecasero . Thank you very much for a perfect comment on my commit. Your solutions now is the best thing. I keep all your "findEvent" function and just put 1 more condition for checking "eventComponentIDs is null" (just for safety reason).

[2017-04-25 15:30] SergeyLee commented on #108
Hello @bkrok!
Yes, I will fix it. Now you can replace it with old 3.0.0.10 version or new 3.0.0.13 version.

Best regards,
Sergey

[2017-04-26 08:51] richardgood opened #109 "Typo in resources/http-servlet/war/src/main/webapp/WEB-INF/web.xml"
Restcomm.jar fails to deploy on Wildfly with current master configuration.

In resources/http-servlet/war/src/main/webapp/WEB-INF/web.xml the listener-class and servlet-class need to define the full classpath and not just the class name:

[code]

With this change restcomm.jar deploys fine.

[2017-04-27 08:44] duyanh030 commented on #106
Hi @jaimecasero . Do you have more comments on this PR?
is it possible that I could start to implement the  remaining Mbean interfaces?

[2017-04-28 06:23] jaimecasero commented on #106
@duyanh030 Im on trip in India. Let me come back home, and i will provide you my comments next week. Sorry for this delay.

[2017-05-03 07:24] deruelle commented on #109
@SergeyLee can you fix this ?

[2017-05-03 09:28] SergeyLee commented on #109
@deruelle I fixed it already:
https://github.com/RestComm/jain-slee.http/commit/b27694e85d94ce38fccf876c7bf337b34b980e36
so we can close this issue here.

[2017-05-03 09:28] #109 closed

[2017-05-03 17:01] nhanth87 commented on #103
hi @vetss do you have any idea why this problem happen, can you please attach server.log for investigating?

[2017-05-04 06:31] nikitamagdum opened #110 "Fails to install diameter mux on jslee 7.0.0"
This is a bug which needs to be resolved - otherwise a restart of Wildfly will always render a complete re-deploy of both RAs and services.

Zendesk Ticket: https://telestax.zendesk.com/agent/tickets/34031

[2017-05-05 01:30] duyanh030 commented on #103
Hi . I would like to update status on this issue.
Please ignore my previous comments. I used incorrect version of ActivityContextImpl.java then it took me go with wrong analysis.

The exception must be generated by https://github.com/RestComm/jain-slee/blob/master/container/activities/src/main/java/org/mobicents/slee/runtime/activity/ActivityContextImpl.java#L167. Not line 163 as I mentioned befor

[2017-05-06 05:07] duyanh030 commented on #103
Status update:.

I am successful to preproduce this problem by using google-talk-bot example, Jconsole, and add some sleep (delay) function in slee and xmpp RA

**File modified:**

[xmpp.patch file](https://github.com/RestComm/jain-slee/files/980666/xmpp.txt) I added some delay to avoid xmpp send some init handshake message. Then I have 20 seconds to trigger queryActivityContextLiveness from Jcons

[2017-05-08 06:57] ThE-MaRaC opened #111 "400 Bad Request not sent in the case of invalid INVITE request"
In the case of INVITE with negative content length 400 Bad Request is not sent.

Exception:
06:44:58,252 DEBUG [UDPMessageChannel] (SipRA-UDPMessageChannelThread-7) error message Content-Length: -329
:For input string: ""
06:44:58,252 ERROR [UDPMessageChannel] (SipRA-UDPMessageChannelThread-7) Error
java.text.ParseException: Content-Length: -329
:For input string: ""
        at gov.nist.javax.sip.

[2017-05-08 08:52] deruelle commented on #111
Thanks @ThE-MaRaC for the bug report. Do you want to try to contribute a fix for it ? (This should be done at JAIN SIP level https://github.com/RestComm/jain-sip )

[2017-05-08 09:21] ThE-MaRaC commented on #111
Yes, of course, but 1st I would like to run all my tests on your platform, then I can also fix them :-)

[2017-05-08 09:50] deruelle commented on #111
@ThE-MaRaC great. Which tests are you running ?

[2017-05-12 08:14] deruelle commented on #106
@SergeyLee @jaimecasero would you have some time to look at this ?

[2017-05-12 08:25] ThE-MaRaC commented on #111
[mario_hercog@restcomm jain-sip]$ git ls-files -m
src/gov/nist/core/Debug.java
src/gov/nist/core/LexerCore.java
src/gov/nist/javax/sip/SipProviderImpl.java
src/gov/nist/javax/sip/parser/Parser.java
src/gov/nist/javax/sip/stack/TCPMessageChannel.java
src/gov/nist/javax/sip/stack/TLSMessageChannel.java
src/gov/nist/javax/sip/stack/UDPMessageChannel.java
[jain_sip_issue_111.tar.gz](https://github.com

[2017-05-12 08:43] deruelle commented on #111
@ThE-MaRaC sharing files make reviews very painful. Can you please follow the guidelines in our Open Source Playbook https://docs.google.com/document/d/1RZz2nd2ivCK_rg1vKX9ansgNF6NpK_PZl81GxZ2MSnM/edit# and do a formal Github Pull Request with your changes ? Also can you please sign the Contributor License Agreement at https://telestax.com/open-source/#Contribute so we can accept any contributions

[2017-05-12 10:51] ThE-MaRaC commented on #111
Github Pull Request: https://github.com/RestComm/jain-sip/pull/149

I will provide Contributor License Agreement on Monday, hopefully that's OK.

Regards,
Hercog Mario

[2017-05-15 22:09] deruelle commented on #111
Thanks @ThE-MaRaC were you able to sign the CLA ?

[2017-05-16 08:34] SergeyLee commented on #101
Close issue due an inactivity.

[2017-05-16 08:34] #101 closed

[2017-05-16 08:37] SergeyLee commented on #110
Sent new release on this ticket and solved this issue.

[2017-05-16 08:37] #110 closed

[2017-05-16 08:37] SergeyLee commented on #108
Fixed.

[2017-05-16 08:37] #108 closed

[2017-05-16 12:14] ThE-MaRaC commented on #111
@deruelle sorry for a delay, I just signed it

[2017-05-22 09:46] samolo93 opened #113 "missing dependencies for sip-publication-client-du"
Hi,
I get some errors when i started restcomm with sip ra due to dependencies of sip publication that are unable to install.
Thanks

[2017-05-29 13:51] SergeyLee commented on #96
We need to setup logging levels for all customer's SBB only on startup.
By the way this probem was occurred with JSLEE on the JBoss 5.1.
So we should to find solution for both JBoss 5.1 and WildFly.

[2017-06-05 12:32] deruelle commented on #96
was a solution found for this ?

[2017-06-09 13:23] richardgood opened #114 "Classloading deadlock in Wildfly"
We've been experience a deadlock in classloading when using Wildfly.  Full details of deadlock below.

It seems in org.mobicents.slee.container.component.deployment.classloading.URLClassLoaderDomainImpl There is a mix of synchronize, global locking and also locking within the default Java class loader that can cause this deadlock.

Suggested patch to solve this is attached.

Here is the deadlock:

[2017-06-09 13:25] richardgood commented on #114
[wildfly_classloader_patch.txt](https://github.com/RestComm/jain-slee/files/1064155/wildfly_classloader_patch.txt)

[2017-06-09 13:29] richardgood commented on #114
[wildfly_classloader_patch.txt](https://github.com/RestComm/jain-slee/files/1064163/wildfly_classloader_patch.txt)

[2017-06-09 13:35] richardgood commented on #114
[wildfly_classloader_patch.txt](https://github.com/RestComm/jain-slee/files/1064177/wildfly_classloader_patch.txt)

[2017-06-10 08:14] EugeneyPutilin opened #115 "Fix TracerFrameworkTest"
Hello All

Please fix TracerFrameworkTest.java I found public void test3GetTracersSet() doesn't cleanup Serve mode. As result if Test runs in random sort order it fails.
For example if test1Creation runs after test3GetTracersSet, it fails.
For fix next line should be added before catch.
			this.ts.unsetTracerLevel(orgMobicents.getTracerName());

The test4TestNotificationType also should be fixed w

[2017-06-11 09:26] deruelle commented on #115
Thanks @EugeneyPutilin. Do you want to contribute a fix for that ? Can you do a github pull request for this ?

[2017-06-13 08:22] #115 closed

[2017-06-25 16:19] duyanh030 opened #116 "ActivityContextDetailsPanel wrong condition check to check if Nullactivity"
https://github.com/RestComm/jain-slee/blob/master/tools/slee-management-console/war/src/main/java/org/mobicents/slee/container/management/console/client/activity/ActivityContextDetailsPanel.java#L50

the condition should be check if equal "org.mobicents.slee.runtime.facilities.nullactivity.NullActivityImpl" instead "org.mobicents.slee.runtime.facilities.NullActivityImpl"

Also I got the exception

[2017-06-26 11:20] jaimecasero commented on #116
It seems there are two things;

1.  How the console evaluates if activity is null to render the "End" button. Here it seems the class name is bad (probably after some refactoring). Better to use class comparator, and import the class,so any refactoring is inmediately visible.
2. How the button will invoke MBean :there is clearly a signature mismatch javax.management.ReflectionException:Signature m

[2017-06-27 10:51] duyanh030 opened #117 "Invalid commets on twiddle"
displayHelp() function ofhttps://github.com/RestComm/jain-slee/blob/master/tools/twiddle/cli/src/main/java/org/mobicents/tools/twiddle/jsleex/ActivityCommand.java#L61 show that the input value for setting TimeBetweenLivenessQueries value in "seconds".

But it should be in minutes instead.

[2017-08-19 06:36] duyanh030 opened #120 "Add "Is Ending" Activity state in twiddle output and slee-console-management."
Command :
` ./twiddle.sh activity -l --contexts=true`
Currently ouput:

[code]

I would add 1 more information of activity state. It could help for debugging on activity leak issue.

I think it is good to add this information in slee-console-management too.

[2017-08-19 06:40] duyanh030 commented on #120
I will do PR on this issue asap

[2017-09-14 09:07] #104 closed

[2017-09-14 09:37] #113 closed

[2017-09-15 09:48] satanatoly commented on #113
Tested with https://github.com/RestComm/jain-slee/releases/tag/2.9.132
Sip RA and sip-publication-client-DU deployed successfully
Please note that message "Missing dependencies for sip-publication-client-DU" might appear due to sip RA has not fully deployed yet. In this case deployment of  DU is halted until dependencies are resolved

[2017-09-15 16:31] satanatoly commented on #111
issue related to jain sip and not jain slee

[2017-09-15 16:31] #111 closed

[2017-09-18 10:07] satanatoly commented on #97
Merged PR https://github.com/RestComm/jain-slee/pull/102 to master. Closing

[2017-09-18 10:07] #97 closed

[2017-09-19 12:10] satanatoly commented on #100
You can use RA Library in order to override the classes.
For example please see:
https://github.com/RestComm/jain-slee.sip/tree/master/resources/sip11/library

[2017-09-19 12:10] #100 closed

[2017-09-20 10:14] satanatoly commented on #103
Closing. Added return value check

[2017-09-20 10:14] #103 closed

[2017-09-25 10:41] satanatoly commented on #96
Logging for sbb-s can be configured by adding filter-spec in wildfly console
in Configuration->Subsystems->Logging->Handler

For example filter-spec: all(not(match("SleeConnectivitySbb")), not(match("SipUASExampleSbb"))) will filter logging for two particular sbb-s
Need to note that filters are applied to logged message content and not the Formatter prefix
You can check the [this document](https:/

[2017-09-25 10:41] #96 closed

[2017-09-25 12:47] satanatoly commented on #106
Sorry for late response. Its true that we may improve some of mbeans and switch to standard parameters. However as I see most of mbeans are defined in JAIN SLEE spec and part of them are using nonStandard JMX types. Since our JAIN SLEE implementation requires to be SLEE compatible we will not be able to complete this task.

[2017-09-25 13:01] jaimecasero commented on #106
the idea qould be to provide extensions methods to the spec noes

not to modify the defined in spec

so,for every mbean defined in spec, provide complement mthods with equivalent features, but using nonCustom types

i still see this applicable...

[2017-09-25 15:46] satanatoly commented on #106
Closing. Confirmed by @deruelle

[2017-09-25 15:46] #106 closed

[2017-09-25 15:46] satanatoly commented on #81
Closing. Confirmed by @deruelle

[2017-09-25 15:46] #81 closed

[2017-09-26 10:05] satanatoly commented on #117
Merged fix by @duyanh030 to master. Closing

[2017-09-26 10:05] #117 closed

[2017-09-26 10:15] #84 closed

[2017-09-27 07:58] satanatoly commented on #120
Added, closing

[2017-09-27 07:58] #120 closed

[2017-09-27 12:39] duyanh030 commented on #120
Hi @satanatoly could you show me the PR. I would like to test it.

[2017-09-28 08:45] satanatoly commented on #116
fixed. Closing

[2017-09-28 08:45] #116 closed

[2017-10-06 08:54] satanatoly commented on #114
applied provided patch. closing

[2017-10-06 08:54] #114 closed

[2018-01-24 17:07] vetss opened #124 "slee-management-console does not work under wildfly in case of port shiift or address change"
Other consoles work as expected (for example jss7-management-console)

I tested:
standalone -Djboss.server.base.dir=$JBOSS_HOME/simulator
standalone -b 127.0.0.2 -bmanagement=127.0.0.2

[2018-01-26 08:40] DanielBican opened #125 "NPE when clearing/raising alarm from an IES method"
After exchanging opinions on this thread https://groups.google.com/forum/#!topic/mobicents-public/uQhEDQ6-ydo I concluded that raising/clearing an alarm from an IES method will throw a NPE.

I attached both the stacktrace and a demo slee service which, when installed, will trigger the NPE.

[demo.tar.gz](https://github.com/RestComm/jain-slee/files/1667117/demo.tar.gz)
[stacktrace.txt](https://gith

[2018-01-26 09:28] gsaslis commented on #125
Thanks a lot for raising this here @DanielBican !  I did follow the discussion on the high level.

Do you think you would also be in a position to have a go at contributing a fix for this?

[2018-01-29 10:16] duyanh030 opened #126 "Can't edit RA properties through slee console"
I get error  below when trying to update "gov.nist.javax.sip.TRACE_LEVEL :: java.lang.String" property

17:11:53:875 [ERROR] the property javax.sip.TRANSPORT has null value
Check the JAIN SLEE logs for more detailed information about this error.

![sipraedit](https://user-images.githubusercontent.com/26052474/35505234-0c2fbfe4-0518-11e8-972f-c209d36c499a.png)

[2018-01-30 13:56] DanielBican commented on #125
Thank you also for reaching to me on this topic.

I think I can try to fix it. Could you give me some directions regarding the contribution process (e.g. docs, examples, anything that could help me on the way of contributing)?

[2018-02-06 09:10] gsaslis commented on #125
Sorry for the delayed reply here @DanielBican ... :(

Could you please take a look at our [Open Source Playbook](https://docs.google.com/document/d/1RZz2nd2ivCK_rg1vKX9ansgNF6NpK_PZl81GxZ2MSnM/edit) and then make sure to @mention me directly, if you have any additional questions or need any further help at all?  ; )

Thanks in advance!! 👍
Yorgos

[2018-02-06 09:33] gsaslis commented on #126
Thanks for raising the issue @duyanh030 !

can you please share some more information about the circumstances in which this error message comes up?

It would be really helpful if you could provide:
* steps to reproduce and
* some more complete logs (using [GitHubGist](https://gist.github.com/) ), so we can take a closer look.

Thanks in advance!
Yorgos

[2018-02-08 18:01] satanatoly commented on #75
closing, implemented alternative of graceful shutdown in TelScale version

[2018-02-08 18:01] #75 closed

[2018-02-09 14:13] satanatoly commented on #126
Thank you for reporting the issue @duyanh030
This bug was present in commercial version of JAIN SLEE. Fix was applied and will be included in 7.2.0 release

[2018-02-09 14:43] gsaslis commented on #126
@satanatoly if the bug was for a commercial version, then that would make this issue invalid?

@duyanh030 can you confirm, so we can proceed to close this one?

[2018-02-16 16:01] #124 closed

[2018-02-19 13:05] satanatoly commented on #126
@gsaslis nope, since the issue was already resolved that would make the issue solved.

[2018-02-21 13:31] satanatoly commented on #125
thank you @DanielBican for bringing up the issue and providing test binaries. Applied [fix](https://github.com/RestComm/jain-slee/commit/2249abef9cac10dfbe0600d384f7138b1cd9de51)
will be included in next release, closing

[2018-02-21 13:31] #125 closed

[2018-02-23 00:11] gsaslis commented on #126
@satanatoly tbh, i am not sure i understood exactly what you mean...
it sounds like we should now close this issue then?

[2018-04-30 15:40] satanatoly commented on #126
Resolved in [7.2.0](https://github.com/RestComm/jain-slee/releases?after=7.2.0-129.141) release. Closing

[2018-04-30 15:40] #126 closed

[2018-05-23 14:24] tuijldert opened #127 "Incomplete class loading."
Hi,

Further to my question on
[classloading](https://groups.google.com/forum/#!msg/restcomm/QwNOG-DF1n4/GcN6c-UYAQAJ), I've implemented a skeleton sbb and servlet that shows the issue (see included zip).
[testing123.zip](https://github.com/RestComm/jain-slee/files/2031419/testing123.zip)

A Readme is included; simply unzip the file, build and deploy it and note the results within `server.log`.
Cl

[2018-05-28 07:59] jega-ms opened #129 "Ant command failed to build for wildfly 10.x and 12.0"
i'm trying to build the for wild-fly 10 & 12 server.  i'm getting the below error.  could you please let me known the exact location of the diameter file (e.g restcomm-diameter-mux-wildfly-1.7.0.139.zip)

[code]

[2018-09-11 07:26] georgeyanev commented on #74
@SergeyLee the link to the binary zip files does not work. Please provide a valid one.

[2018-09-12 09:44] sovz commented on #129
any solution to this problem ?

[2018-09-13 03:30] sovz opened #130 "Help ... error during build"
I couldn't find valid binary release zip so i building from the source which several link also invalid, like diameter mux, smpp extension,ss7, i download those dependency file to bypass the error .
But i facing issue below which i couldn't find any solution.

     [exec] [INFO] Forking standard-components-du 7.1.77
     [exec] [INFO] --- maven-du-plugin:4.0.1:copy-dependencies (default) @ standard

[2018-09-21 10:59] Plutonii opened #131 "Ant command failed to build for SS7"
jain-slee version: 7.2.0-151
During building I have error:
[code]
Where can i find last restcomm-jss7-<X>.zip?

[2018-09-25 13:38] georgeyanev commented on #127
@tuijldert I also have some kind of a class-loading issue. I can not figure out how to declare dependency in a slee deployment unit (du) to some wildfly module? I tried with MANIFEST.MF Dependencies tag, with
`jboss-deployment-structure.xml` but nothing helps. The du can not deploy because it does not see the classes from the dependency. Actually I use the dependency classes in all DU submodules -

[2018-09-25 14:23] georgeyanev opened #132 "Unable to declare dependency from SLEE DU to jboss module"
There is no way (or at least not documented) to declare a dependency from a slee deployment unit to a wildfly module. Actually all subdeployments of a DU (events, library, sbb) need access to the dependency. Standard means with `jboss-deployment-structure.xml` or MANIFEST entries do not work.

[2018-09-25 14:35] tuijldert commented on #127
AFAIK, you won't see any classes outside the `SLEE` module.

Your best bet would be to declare the dependency in the `module.xml` of `org.restcomm.slee.container.extension` that is loaded at startup.

I used that to include my own module. See the `http-common` build files on how that's done.

[2018-09-25 15:57] georgeyanev commented on #127
Ok, that worked but it is very strange. I wonder is it supposed to remain so. I think deployment units should should be able to depend on other modules.

[2018-09-26 03:37] georgeyanev commented on #127
@tuijldert Anyway this was very helpful. Thanks!

[2018-09-26 07:13] tuijldert commented on #127
I think that it is by design. It needs to run in any `SLEE` environment. A dependency on a framework (_JBoss/Wildfly_ in this case) would  make that impossible. This is what `SLEE` libraries are for.

And glad to be of help.

[2018-09-26 16:02] Eloyjaws commented on #74
Hey, has anyone been able to find a valid link to the binary zip file?

[2018-09-27 14:15] BarbosSergos commented on #131
1. You can find it in - http://github.com/RestComm/jss7/archive/7.3.1398/restcomm-jss7-7.3.1398.zip
2. I don't know why build.xml points to the wrong path. We simply replace in with sed - sed -i 's/jss7\/releases\/download/jss7\/archive/' ${JSLEE_DIR}/release/build.xml

[2018-09-28 11:33] ocarriles opened #133 "Broken dependency org.restcomm.cluster:core:jar:3.0.0-SNAPSHOT"
container pom has an unresolved dependency:

[ERROR] Failed to execute goal on project spi: Could not resolve dependencies for project org.mobicents.servers.jainslee.core:spi:jar:7.0.0-SNAPSHOT: Failure to find org.restcomm.cluster:core:jar:3.0.0-SNAPSHOT in https://oss.sonatype.org/content/groups/public was cached in the local repository, resolution will not be reattempted until the update interv

[2018-10-03 10:47] georgeyanev opened #134 "Tcap resource adapter deployment error."
After installing Restcomm/jss7-8.0.112 on wildfly slee build from release 7.2.0-150 the TCAP Resource adapter fails to deploy with message:
[code]
Seems to me that no TCAP stack is bound to JNDI may be because it is read-only. However from my application deployed as a WAR file I can bind successfully objects to JNDI.
Any suggestions?

[2018-10-03 12:06] #134 closed

[2018-11-04 12:14] akhalifah commented on #81
Where I can find the source code for this new Restcomm management console ?

[2019-01-01 03:33] masood-alam opened #135 "slee-management-conole"
when running wildfly with -b=0.0.0.0, the slee-management-console access gives error:

08:09:16,852 ERROR [io.undertow.request] (default task-62) UT005023: Exception handling request to /slee-management-console///SleeStateService: javax.servlet.ServletException: UT010013: Could not instantiate SleeStateService
	at io.undertow.servlet.core.ManagedServlet$DefaultInstanceStrategy.start(ManagedServlet

[2019-01-01 03:37] masood-alam commented on #129
https://mobicents.ci.cloudbees.com   developer account does not exist any more :)

[2019-01-01 04:14] masood-alam commented on #135
it works by using wildlfy -b=0.0.0.0 -bmanagement=0.0.0.0

[2019-01-01 04:14] #135 closed

[2019-05-07 08:18] armachea opened #137 "How to build RestComm/jain-slee"
Hi guys,

Hope everyone is doing okey. I just downloaded the last repo of jainslee which is jain-slee-7.2.0-182

i am having a problem on building it  ?

I tried to go into - /home/armacheantoni/Documents/jain-slee-7.2.0-182/release/

and use sudo mvn pom.xml
and use sudo ant build.xml

I just keep on having errors, does anyone know how to build this source file ?

[2019-05-07 08:22] msrashed2018 commented on #137
What's error you get while mvn installing?

On Tue, May 7, 2019, 10:18 Mr. KFC <notifications@github.com> wrote:

[2019-05-07 08:33] armachea commented on #137
Hi  msrashed am having the following errors while doing
the | sudo mvn pom.xml inside /Documents/RepoSLEE/jain-slee-7.2.0-182/release$ |
------------------

![BuildingERROR](https://user-images.githubusercontent.com/25345092/57285423-dec29480-70bb-11e9-8e16-e41b8c67ce64.jpg)

------------------

[2019-05-07 08:52] ibstelix commented on #137
Hi,
replace "sudo mvn pom.xml"
with "mvn clean install"

Best regards,

Le mar. 7 mai 2019 à 09:18, Mr. KFC <notifications@github.com> a écrit :

[2019-05-07 09:25] armachea commented on #137
Hi Ibrahima,

Thanks for the quick feedback, I did the following in main the folder:
----
/Documents/RepoSLEE/jain-slee-7.2.0-182$ sudo mvn clean install
----

The building process is stopped in midway by an error for [spi ]...... this is the below error:

Downloading: https://repo.maven.apache.org/maven2/org/restcomm/cluster/core/3.0.1-187/core-3.0.1-187.jar
[INFO] -------------------------------

[2019-05-07 09:38] msrashed2018 commented on #137
change  restcomm.cluster.version property  in jainslle/container/pom.xml to
be

 <restcomm.cluster.version>3.0.0.15</restcomm.cluster.version>

 and mvn clean install again

On Tue, May 7, 2019 at 11:26 AM Mr. KFC <notifications@github.com> wrote:

[2019-05-07 10:10] armachea commented on #137
Hi Mohamed thanks for the quick feedback.....

But something is wrong.....

1 - <restcomm.cluster.version>3.0.0.15</restcomm.cluster.version> is not present inside the repo url :
https://maven.repository.redhat.com/ga/org/restcomm/ DOES NOT EXIST
https://maven.repository.redhat.com/ga/org/ DOES EXIST

2 - after changing cluster version from 3.0.1-187 to the one u asked me to 3.0.0.15  keep having

[2019-05-07 10:32] msrashed2018 commented on #137
run the following commands to build needed version of restcomm cluster
core  :
git clone https://github.com/RestComm/cluster
cd cluster
git checkout tags/3.0.1-163
mvn clean install

then change  restcomm.cluster.version to be
 <restcomm.cluster.version>3.0.1-163</restcomm.cluster.version>

On Tue, May 7, 2019 at 12:10 PM Mr. KFC <notifications@github.com> wrote:

[2019-05-07 10:34] msrashed2018 commented on #137
run the following commands to build needed version of restcomm cluster
core  :
git clone https://github.com/RestComm/cluster
cd cluster
git checkout tags/3.0.1-163
mvn clean install

then change  restcomm.cluster.version to be
 <restcomm.cluster.version>3.0.1-163</restcomm.cluster.version>

then build jain slee container again with
     mvn clean install -DskipTests

On Tue, May 7, 2019 at 12:10 P

[2019-05-07 11:34] armachea commented on #137
Hi Mohamed thanks so much for the guidance and feedback, i have successfully build it but i don't see any changes in my folder....

i am running all my application with the following test-bed: *** restcomm-slee-7.1.83.87-wildfly-10.1.0.Final ***

As u can see restcomm-slee-7.1.83.87 (is 2015 ~ 2016 year older )
As u can see wildfly-10.1.0.Final (is 2013 year older )

I wanted to have the following

[2019-05-07 11:55] msrashed2018 commented on #137
i think all you need as to add the generated modules under
jainslee/container/build to wildlfy modules directory  and define
extensions and beans configurations in standalone.xml as defined in old
version.. you can do it manually without need to *ant* build

Run the following commands:

$ cp  jain-slee/container/build/as7/extension/target/module/main/*
$WILDFLY_HOME/modules/system/layers/base/org/

[2019-05-08 09:44] armachea commented on #137
Hi Mohamed, this process of doing it manually is giving me a lot of trouble.

I have successfully copy all the generated data from jainslee stack to my wildfly stack following the old wildfly structures in regards to the two main folder:
--lib
--extension

i have implemented the  <extension module="org.restcomm.slee.container.extension"/> inside the standalone.xml

when i run wildfly15.0 everythin

[2019-05-21 10:36] philipp-birkl opened #138 "Build fails for JDK9 or later"
While trying to build `jain-slee` version `7.2.0-186` I encountered a problem with the default `maven-compiler-plugin`, as it is using java 1.5 as source and target option out of the box. However those versions are not supported by the latest JDK's anymore. Please find my maven output in the attachment.

[jain-compile-error.txt](https://github.com/RestComm/jain-slee/files/3202055/jain-compile-erro

[2019-05-22 09:15] nhanth87 commented on #138
you only can build jainslee with jv 7 and jv8 (wildfly version).
If you weant to build it with jv9, you need to modify pom file

[2019-05-22 09:15] #138 closed

[2019-05-26 23:18] faladinojames opened #139 "Unable to build"
I have tried severally to compile the source code using several versions but it always ends in one error or the other. Can someone provide me the compiled "zip" file instead?

[2019-06-08 17:38] cgopi commented on #88
How the problem is solved? Can you please let me know what dependencies are added?

[2020-05-01 17:54] randonfe opened #140 "[ERROR] slee-management-console-war - all oficial maven repositories have not any version of maven-googlewebtoolkit2-plugin"
Hi Guys,

I'm trying build the version: https://github.com/RestComm/jain-slee/archive/7.2.0-233.zip (I''ve tried other versions and it has the same issue)

cd $SLEE_HOME/release/
ant:
[exec] [INFO] Restcomm :: Tools :: slee-management-console-war .. FAILURE

![image](https://user-images.githubusercontent.com/64653991/80827401-453c9e80-8bba-11ea-94ad-e591f2f69cc3.png)

cd $SLEE_HOME/release/checkou

[2020-05-02 02:05] randonfe commented on #140
[INFO] Restcomm :: Resources :: restcomm-slee-ra-statistics-ra  FAILURE [0.031s]

Here is another .jar and pom that there is'nt at oficial repository: Failure to find org.mobicents.servers.jainslee.core:spi:jar:7.1.0.36

https://repo.maven.apache.org/maven2/org/mobicents/servers/jainslee/core/spi/
![image](https://user-images.githubusercontent.com/64653991/80852537-cf5b2600-8bff-11ea-9636-bde51bc9

[2020-05-02 05:08] nhanth87 commented on #140
hi @randonfe please contact @anatolysatanovskiy-mobius for on premise support

[2020-05-05 19:43] randonfe commented on #140
hi,

How can I send a message to him?

Enviado do meu iPhone

Em 2 de mai de 2020, à(s) 02:09, Tran Huu Nhan <notifications@github.com> escreveu:

﻿

hi @randonfe<https://github.com/randonfe> please contact @anatolysatanovskiy-mobius<https://github.com/anatolysatanovskiy-mobius> for on premise support

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on Gi

[2020-05-12 02:15] ShengRongder opened #141 "I have problems,when i run ''ant '' at /usr/mobicent/jain-slee-2.8.69/release"
os:centos 6

![error1-3](https://user-images.githubusercontent.com/42433271/81630855-3adf9780-9439-11ea-8c47-6ce653a2ddac.PNG)

[2020-05-12 02:17] ShengRongder commented on #141
can anyone help me

[2020-05-12 05:14] nhanth87 commented on #141
maybe update version of jdocbook will solve this issue

[2020-05-12 13:55] ShengRongder commented on #141
I have new problems
I think maven-googlewebtoolkit2-plugin  can't run now.
which  gwt can replace?
thanks for you help
![image](https://user-images.githubusercontent.com/42433271/81700518-51b6d600-949b-11ea-97c9-e877933c42ff.png)

[2020-05-16 02:57] ShengRongder opened #142 "Hello everyone,i have problems when build version 2.8.69 by "ant""
maybe it soon complete，
but it rum below errors

Failed to execute goal org.mobicents.tools:maven-du-plugin:3.0.13:copy-dependencies (default) on project components-test-du-1-du: Error copying artifact from /usr/mobicents/jain-slee-2.8.69/release/checkout/core/container/components/test-du/du1/events/target/classes to /usr/mobicents/jain-slee-2.8.69/release/checkout/core/container/components/test-d

[2020-05-16 03:02] ShengRongder commented on #140
hello,I change the dependency at doc -> checkout/core/tools/slee-management-console/pom.xml
<url>https://svn.sp.vodafone.com/archiva/repository/internal/<url>
![image](https://user-images.githubusercontent.com/42433271/82108884-92954000-9764-11ea-9f51-e2226079fba7.png)

and it can work, but i am still correct other error.

[2020-05-23 20:39] tonydiablo commented on #140
For the statistics error change to master >>>checkout/statistics "git checkout master"  and the build will complete.

[2020-06-24 16:33] parsibox opened #143 "installing ussd gateway with ss7 protocol"
hi
i want to use an ussd gateway with ss7 protocol
i am so confused
please help me , please explain step by step to compile and start simulator
please be kind

[2020-06-24 16:34] parsibox commented on #143
i use centos 7 64 bit
jdk 1.8

[2020-06-24 16:37] parsibox commented on #143
hi
i want to use an ussd gateway with ss7 protocol
i am so confused
please help me , please explain step by step to compile and start simulator
please be kind

[2020-07-01 13:54] parsibox commented on #129
i have the same problem

[2020-07-02 10:41] parsibox commented on #141
i have the same problem

[2020-07-04 13:31] parsibox opened #144 "error on build"
hi
centos 7 64 bit error on build

java 1.8
[code]

[2020-07-04 14:10] parsibox commented on #144
this is full log
[log.txt](https://github.com/RestComm/jain-slee/files/4872972/log.txt)

[2021-01-10 23:20] warrenc5 commented on #144
These are javadoc generations issues.

Skip the plugin with -Dmaven.javadoc.skip=true

[2021-01-11 08:29] parsibox commented on #144
thank it is now build ok
how can i start program now?
do you have any command to run it?

[INFO] BUILD SUCCESS
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 4:17.776s
[INFO] Finished at: Mon Jan 11 11:56:32 IRST 2021
[INFO] Final Memory: 186M/493M
[INFO] ------------------------------------------------------------------------

[2021-01-29 14:36] yulianoifa-mobius commented on #141
The artifact is located only at jahia repository
See https://mvnrepository.com/artifact/com.totsp.gwt/maven-googlewebtoolkit2-plugin/2.0-RC1-jahiafork
Either add jahia to settings.xml , or in case you have private maven repository , copy the plugin to it and add private repository to list

[2021-01-29 14:37] yulianoifa-mobius commented on #129
Mobicents-CI does not exists anymore , as result you need to compile and build all the dependencies that are located at mobicents-ci , and then point the links to correct location

[2021-01-29 14:41] parsibox commented on #129
how can i do this?
please guide me
i need to compile this source
If you need money for guidance on obtaining dependencies and compiling, I will pay
please connect with mi in skype ( my username in skype is parsibox )

[2021-01-29 14:46] yulianoifa-mobius commented on #129
Hi
The error says restcomm-diameter-mux-wildfly-1.7.0.139.zip not found.
Go to Restcomm under github find the jdiameter and either find the binary or build it from source. Then store it in some storage and change the link.

Please note that there are commercial releases ( non-free ) that are provided as binaries from Telestax. In case you struggle to build from source you may want to switch to com

[2021-01-29 14:52] yulianoifa-mobius commented on #130
Hi
What do you have under standard-events-jar/target/classes ,
There should not be such folder, also there should be nothing in src/main/java for standard-events-jar as its generating only xml and jar.

[2021-01-29 14:53] yulianoifa-mobius commented on #144
Hi
You have built in the jain slee itself, however you would need a release of it ( either wildfly or jboss ) in order to run the code

[2021-01-29 14:55] yulianoifa-mobius commented on #140
The spi is in standard repository
See https://mvnrepository.com/artifact/org.mobicents.servers.jainslee.core/spi

[2021-01-29 14:59] yulianoifa-mobius commented on #127
Hi
In case you are using the wildfly and need jdk files to be accessed you need to change the
/modules/system/layers/base/org/telestax/slee/container/lib/main/module.xml
or in older versions
/modules/system/layers/base/org/restcomm/slee/container/lib/main/module.xml

and change
<module name="sun.jdk"/>
to
<module name="sun.jdk" export="true" />

However this will break the slee spec ( and tck test

[2021-01-29 15:05] parsibox commented on #129
That's the problem
Each build requires dependencies that are not available on the Internet
Can you send us the required dependencies from your computer?

[2021-01-29 15:07] parsibox commented on #144
Can you explain more?
i have jboss 5 in my system but i can not understand what is the next step.
i deploy war file in jboss
but it not work or work with error

[2021-01-29 15:36] parsibox commented on #129
for example when i run jboss it say this error:

[code]

[2021-01-30 08:29] warrenc5 commented on #140
The plugin is dead. And so is googlecode.

The new plugin is https://gwt-maven-plugin.github.io/gwt-maven-plugin/

[2021-01-30 08:30] warrenc5 commented on #140
Looks like that plugin is also legacy.

The new plugin is https://github.com/tbroyer/gwt-maven-plugin

[2021-01-30 08:55] parsibox commented on #144
and this is some other error after deploy ussdgateway.war

[code]

[2021-01-30 09:12] yulianoifa-mobius commented on #140
Hi
The plugin is dead however it still part of the project. To get it you need to use jahia repository
BR
Yulian Oifa

[2021-03-09 07:40] warrenc5 opened #147 "NullpointerException doing RA entity provider JNDI lookup in setSbbContext"
I'm getting a NPE (under heavy load) because the env hashtable is always null. This seems like a 0-day bug?

https://github.com/RestComm/jain-slee/blob/master/container/build/as7/extension/src/main/java/org/restcomm/slee/container/build/as7/naming/RootContext.java

https://github.com/wildfly/wildfly/blob/master/naming/src/main/java/org/jboss/as/naming/context/ObjectFactoryBuilder.java

[code]

[2021-08-19 14:27] tdevinda commented on #127
Its been long. But I hope this adds upto something;

I needed a separate package on a different project (actually a bunch of DTOs) to be used in my project. But SLEE would not load them however I compile the project. I found out that if I place the jar files manually on the correct module path, I would be able to load them at runtime.

my DTO packages start with ```lk.dialog.apnc.dto```
So I put t

[2021-08-20 12:19] VIPshainidze commented on #88
@SergeyLee I have the same problem. What dependencies did you add? Thanks!

[2021-09-21 10:09] ibstelix commented on #140
hi,
this giving me big headache all the repo i found did not have the plugin :(
Anyone have the jar ?

[2021-09-21 10:59] yulianoifa-mobius commented on #140
[maven-googlewebtoolkit2-plugin-2.0-RC1.zip](https://github.com/RestComm/jain-slee/files/7202537/maven-googlewebtoolkit2-plugin-2.0-RC1.zip)
Hi.Please see the file attached ( zipped )

[2021-09-21 16:30] ibstelix commented on #140
Wonderful ! thank you so much almost 24hours i am scroll the net to find it !

[2021-09-21 16:31] ibstelix commented on #140
Wonderful ! thank you so much almost 24hours i am scroll the net to find it !

[2021-09-21 19:27] ibstelix commented on #140
Hi @yulianoifa-mobius please can you share the file maven-googlewebtoolkit-support it seams it is needed as i'm getting this error :
[code]

[2021-09-22 08:20] yulianoifa-mobius commented on #140
[maven-googlewebtoolkit-support-1.6.2.zip](https://github.com/RestComm/jain-slee/files/7208972/maven-googlewebtoolkit-support-1.6.2.zip)
Hi
Please try this one

[2021-09-22 15:53] ibstelix commented on #140
Hi @yulianoifa-mobius
thank you very much.
Finally i found the archive on google code (https://code.google.com/archive/p/gwt-maven/source/default/source) and made a github repo of it : https://github.com/ibstelix/gwt_maven_archive/tree/main/trunk/mavenrepo

[2021-11-22 15:29] vp-elitnet opened #150 "Synchronization regression in class loading"
The issue manifested itself with the following symptom (exception at the top of the stack): "javax.xml.transform.TransformerFactoryConfigurationError: Provider for class javax.xml.transform.TransformerFactory cannot be created". The full call stack below could be teased out only with a debug-enabled build of "xalan".

<pre>
2021-11-19 11:14:16,972 ERROR [stderr] (I/O dispatcher 2) java.lang.Illega

[2021-11-23 02:25] dsuarezn opened #152 "Unable to declare dependency from ResourceAdaptor to .sar deployment"
Recently we have to migrate all our deployments to wildfly 10.x, and now we face a problem we didn't have in jboss, our resource adapters cannot find classes from another deployments, specifically we have a .sar deployment that should been used (calling static methods from it's classes) by our resource adaptors, but now we lost the capability to declare that dependency, we try using jboss-deployme

[2022-01-17 08:36] #143 closed

[2022-11-11 02:42] nttungub commented on #140
Hi @ibstelix
Did you solve this problem? Could you share how to fix it?